HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

##############################
## HLS Files
##############################
/bin
*.mp4
*.ts
*.m3u8
*.mpeg
*.mkv
*.avi
*.mov
/distran.uml
/distran.umlcd
/distran2.uml
/distran2_.umlcd
/distran2_br.unb.cic.comnet.distran.agents.broker.umlcd
/distran2_br.unb.cic.comnet.distran.agents.populationControllers.umlcd
/distran2_br.unb.cic.comnet.distran.agents.services.umlcd
/distran2_br.unb.cic.comnet.distran.agents.transcoder.umlcd
/distran2_br.unb.cic.comnet.distran.agents.trm.umlcd
/distran2_br.unb.cic.comnet.distran.agents.umlcd
/distran2_br.unb.cic.comnet.distran.agents.viewer.umlcd
/distran2_br.unb.cic.comnet.distran.behaviours.umlcd
/distran2_br.unb.cic.comnet.distran.player.umlcd
/distran2_br.unb.cic.comnet.distran.util.umlcd
